<div class="palm-hasheader" style="margin-bottom:60px">
    <div id="divPodcastTitle" class="palm-header center" onclick="Mojo.Controller.stageController.swapScene({ transition: Mojo.Transition.crossFade, name: 'main' });">
        Podcast
    </div>
</div>

<div style="width:100%; margin:auto; align-content: center; text-align: center;">
    <img src="icon-minimal.png" id="divPodcastImage" style="width:128px;height:128px" /><br/>
</div>

<div class="palm-group">
    <div class="palm-group-title">
        <span x-mojo-loc=''>Details</span>
    </div>

    <div class="palm-list">
        <div class="palm-row first">
            <div class="palm-row-wrapper detail">
                <span class="label detail" x-mojo-loc=''>Description:</span>
                <div class="value detail" id="divPodcastDescription"></div>
            </div>
        </div>

        <div class="palm-row">
            <div class="palm-row-wrapper detail">
                <span class="label detail" x-mojo-loc=''>Author:</span>
                <div class="value detail" id="divPodcastAuthor"></div>
            </div>
        </div>

        <div class="palm-row last">
            <div class="palm-row-wrapper detail">
                <span class="label detail" x-mojo-loc=''>Website:</span>
                <div class="value detail" id="divPodcastLink"></div>
            </div>
        </div>

    </div>
</div>


<div class="palm-group">
    <div class="palm-group-title">
        <span x-mojo-loc=''>Feeds</span>
    </div>

    <div class="palm-list">

        <div class="palm-row first">
            <div class="palm-row-wrapper detail" id="divFullFeed">
                <span class="label detail" x-mojo-loc='' id="lblFullFeed">Tap Here for Full Feed</span>
                <div class="value detail">
                    <input type="text" value="" id="txtFullFeed" disabled/>
                </div>
            </div>
        </div>

        <div class="palm-row last">
            <div class="palm-row-wrapper detail" id="divTinyFeed">
                <span class="label detail" x-mojo-loc=''>Tap Here for Tiny Feed</span>
                <div class="value detail">
                    <input type="text" value="" id="txtTinyFeed" disabled/>
                </div>
            </div>
        </div>

    </div>

</div>
<div class="explanation-text">A Tiny Feed is one that is pre-processed to help out retro devices, you can configure defaults in Preferences.</div>
<div x-mojo-element="Button" id="btnOK" name="btnOK"></div>